* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para el contenedor de la navbar */
.header-container {
  background-color: #333 !important ;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para la lista de elementos del menú */
.ul-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

/* Estilos para cada ítem del menú */
.nav-items {
  margin: 0 15px;
}

/* Estilos para los enlaces del menú */
.nav-items a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  transition: color 0.3s, background-color 0.3s;
}

/* Efecto al pasar el cursor sobre los enlaces */
.nav-items a:hover {
  background-color: #555;
  color: #fff;
  border-radius: 5px;
}

/* Estilos para el contenido principal */
.main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal-content {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

/* Estilos para el contenedor de los artículos */
#game-container {
  width: 65vw;
  display: flex;
  gap: 20px;
  justify-content: center;
}

/* Estilos para cada artículo */
.game-item {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s ease;
}
/* Estilos para las imágenes de los artículos */
.game-item img {
  width: 10vw;
  height: 25vh;
}

.game-item:hover {
  transform: scale(1.05);
}

/* Footer */
.footer {
  position: fixed;
  color: white;
  background-color: #333;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  
}

.footer h4 {
  font-size: 1.1em;
}
